*{ /* mainly text settings here */
	font-family: monospace;
	border-radius: 25px;
	font-weight: bold;
	font-size: 20px;
	color: #7287fd;
}

/* Background of main window */
#window {
	background-color: rgba(240,101,189,0.99);
	border-radius: 50px;
}
#outer-box {
	background-color: #222423;
	padding: 12px;
	border-radius: 40px;
}
#entry:selected, #input {
	background-color: rgba(22,22,22,0.9);
	border-radius: 12px;
	outline: none;
}

/* add some spacing */
#input, #window, #outer-box {
	margin: 10px;
}
