*{ /* mainly text settings here */
	font-family: monospace;
	border-radius: 25px;
	font-weight: bold;
	font-size: 20px;
	color: #c95e48;
}

/* Background of main window */
#window {
	background-color: rgba(201, 94, 72, 0.99);
	border-radius: 70px;
}
#outer-box {
	background-color: #391313;
	padding: 18px;
	border-radius: 60px;
}
#entry:selected, #input {
	background-color: #260d0d;
	border-radius: 12px;
	outline: none;
}

/* add some spacing */
#input, #window, #outer-box {
	margin: 10px;
}
